/* Empty. Add your own CSS if you like */

/* 自定义字体文件 */
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-diy-index{
	color: #fff;
	font-size: 50px;
	display: block;
	padding-top: 20px;
}
.icon-508jianlikuguanli{
	font-size: 40px;
}
.icon-fabu{
	font-size: 45px;
}
.icon-zixingche:before { content: "\e600"; }
.icon-qq:before { content: "\e601"; }
.icon-dianhua:before { content: "\e602"; }
.icon-target:before { content: "\e60a"; }
.icon-shoucang:before { content: "\e603"; }
.icon-jianzhi:before { content: "\e604"; }
.icon-jiaodian:before { content: "\e605"; }
.icon-wechat:before { content: "\e606"; }
.icon-xinfeng:before { content: "\e607"; }
.icon-508jianlikuguanli:before { content: "\e608"; }
.icon-fabu:before { content: "\e609"; }
/* 自定义字体文件结束 */


body{
	background: #f3f3f3;
}
a{
	text-decoration: none;
	color: #000;
}
.tlj-header{
	height: 60px;
}
.tlj-header .myspace{
	text-align: center;
}
.tlj-header .myspace i{
	font-size: 18px;
	font-weight: bold;
}
.mainmenu{
	text-align: center;
	margin-bottom: 15px;
}
.mainmenu .circle{
	margin: 0 auto;
	border-radius: 50%;
	background: #ccc;
	width: 65px;
	height: 65px;
}
.mainmenu .circle img{
	margin-top: 13px;
}
.mainmenu .circle1{
	background: #84cd5c;
}
.mainmenu .circle2{
	background: #44ba95;
}
.mainmenu .circle3{
	background: #0ab8f0;
}
.mainmenu .circle4{
	background: #f36362;
}

.row.tlj-about{
	height: 100px;
	text-align: center;
	line-height: 90px;
	color: #fff;
	margin-top: 10px;
}
.row.tlj-about .about1{
	background: #f46838;
	width: 48%;
}
.row.tlj-about .about2{
	background: #44ba95;
	width: 48%;
	margin-left: 4%;
}
.row.tlj-about .about3{
	background: #0ab8f0;
	width: 48%;
}
.row.tlj-about .about4{
	background: #f36362;
	width: 48%;
	margin-left: 4%;
}
.tlj-list{
	margin-bottom: 10px;
}

/* 首页图标定义 */
.tlj-list .circle .icon-jianzhi{
	color: #84cd5c;
	padding-top: 8px;
}
.arrow-left{
	font-size: 50px;
	text-align: right;
	color: #84cd5c;
}
.arrow-left-zixingche{
	color: #43BA94;
}
.arrow-left-target{
	color: #F36362;
}
.tlj-list p{
	color: #888;
}
.title-target{
	color: #F36362;
	font-family: "Microsoft YaHei";
}
.title-jianzhi{
	color: #84cd5c;
	font-family: "Microsoft YaHei";
}
.title-zixingche{
	color: #43BA94;
	font-family: "Microsoft YaHei";
}
.tlj-list .circleimg{
	width: 60px;
	height: 60px;
	margin: 0 auto;
}
.tlj-list .circleimg img{
	width: 60px;
	height: 60px;
}
.tlj-list .circle .icon-zixingche{
	color: #43BA94;
	padding-top: 8px;
}
.tlj-list .circle .icon-target{
	color: #F36362;
	padding-top: 8px;
}
/* 首页图标定义结束 */
.paddingBottom0{
	padding-bottom: 0px;
}
.tlj-liaojie{
	color: #f96a39;
}
.tlj-liaojie i{
	font-weight: bold;
	font-size: 22px;
}
.row.tlj-copyright{
	font-size: 10px;
	margin-top: 20px;
	text-align: center;
}
.padding0{
	padding: 0;
}
.tlj-slide{
	margin-top: 10px;
	margin-bottom: 15px;
}
.tlj-slide .box{
	height: 150px;
}
.tlj-slide .box img{
	width: 100%;
}
.no-boder{
	border: none;
}
.tlj-left{
	text-align: left;
}
.tlj-right{
	text-align: right;
}
.searchTop{
	top: 60px;
}

/* 兼职列表页 */
.list-type{
	background-color: #fff;
    border: 2px solid #eebc5b;
  	width: 50px;
  	height: 50px;
  	border-radius: 50px;
  	margin: 0;
  	text-align: center;
  	padding: 0;
}
.list-info{
	float: left;
}
.list-type-pic{
	background: #fff;
	border: 1px solid #ccc;
}
.list-center{
	margin: 0 auto;
}
.list-type span{
	line-height: 50px;
	font-size: 12px;
}


/* 兼职详情页 */
.redline{
	width: 100%;
	height: 5px;
	background: #FA693A;
}

/* 求职简历列表页 */
.red{
	color: #ef473a;
}
.list-type-pic-big{
  	width: 70px;
  	height:70px;
  	border-radius: 70px;
  	margin: 0 auto;
  	margin-top: 7px;
  	border: none;

}
.list-type-pic-big img{
  	width: 70px;
  	height:70px;
	border-radius: 70px;
}
.resume-list-small{
	color: #d1d1d1;
}



/* 二手页 */
.list-type-sh{
	width: 100%;
}
.list-type-sh img{
	width: 100px;
    height: 100px;
}


.tlj-nav{
	widows: 100%;
	height: 38px;
	background-color: #FA6A38;
}
.tlj-nav li{
	float: left;
	width: 33.3333333333%;
	position: relative;	
	line-height: 38px;
	text-align: center;
}
.tlj-nav li a{
	color: #fff;
	display: block;
}
.tlj-nav li .sub-menu{
	position: absolute;
	z-index: 999;
	background-color: #fff;
	width: 300%;
	height: auto;
	border-bottom: 15px solid #000;
	padding-top: 10px;
	padding-bottom: 10px;
}
.tlj-nav li ul li a{
	color: #ccc;
	display: block;
}

/* loading modal */
.loading-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.loading-modal .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -36px;
  margin-left: -14px;
}
/*二手页面，弹出选择框*/
.shListModal{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #000;
}
.shListModal .selectNewModal{
	position: absolute;
	top: 47px;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 99;
	background-color: #fff;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}

.emptyContent{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #ccc;
	padding-top: 100px;
}