/* Empty. Add your own CSS if you like */
.tlj-header{
	height: 60px;
}


.tlj-about{
	height: 100px;
	text-align: center;
	line-height: 90px;
	color: #fff;
	margin-top: 25px;
}
.tlj-about .about1{
	background: #f46838;
}
.tlj-about .about2{
	background: #44ba95;
}
.tlj-about .about3{
	background: #0ab8f0;
}
.tlj-about .about4{
	background: #f36362;
}