<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
	<!--header-->
	<ion-header-bar align-title="center" class="bar-assertive tlj-header">
		<div class="row padding0">
			<div class="col col-50"><img src="./img/logo.png" alt=""></div>
			<div class="col col-25 myspace"><i class="icon ion-person"></i><br>我的</div>
			<div class="col col-25 myspace"><i class="icon ion-android-checkbox-outline"></i><br>发布信息</div>
		</div>
	</ion-header-bar>

	<!--content-->
    <ion-content ng-controller="ActionSheetCtrl" class="padding">
		<div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="搜索你最想要的 例：家教">
		  </label>
		</div>

		<ion-slide-box class="tlj-slide" auto-play="true">
			<ion-slide>
				<div class="box blue"><h1>BLUE</h1></div>
			</ion-slide>
			<ion-slide>
				<div class="box yellow"><h1>YELLOW</h1></div>
			</ion-slide>
			<ion-slide>
				<div class="box pink"><h1>PINK</h1></div>
			</ion-slide>
		</ion-slide-box>

		<div class="row mainmenu">
			<div class="col">
				<div class="circle circle1"><img src="./img/jianzhi.png" alt=""></div>
				<br>校园兼职
			</div>
			<div class="col">
				<div class="circle circle2"><img src="./img/ershou.png" alt=""></div>
				<br>校园二手
			</div>
			<div class="col">
				<div class="circle circle3"><img src="./img/jianli.png" alt=""></div>
				<br>求职简历
			</div>
			<div class="col">
				<div class="circle circle4"><img src="./img/fabu.png" alt=""></div>
				<br>发布信息
			</div>
		</div>
		<div class="list tlj-list">
			<a class="item item-avatar" href="#">
		      	<img src="./img/bg.jpg">
		      	<h2>热门兼职</h2>
		      	<p>桃李街，靠谱，干着舒心的兼职</p>
		    </a>
		</div>
		<div class="list tlj-list">
			<a class="item item-avatar" href="#">
		      	<img src="./img/bg.jpg">
		      	<h2>热门兼职</h2>
		      	<p>桃李街，靠谱，干着舒心的兼职</p>
		    </a>
		</div>
		<div class="list tlj-list">
			<a class="item item-avatar" href="#">
		      	<img src="./img/bg.jpg">
		      	<h2>热门兼职</h2>
		      	<p>桃李街，靠谱，干着舒心的兼职</p>
		    </a>
		</div>
		<div class="row tlj-liaojie">
			<i class="icon ion-ios-people"></i>&nbsp;了解我们
		</div>
		<div class="row tlj-about">
			<div class="col about1" ng-click="">使用指南</div>
			<div class="col about2" ng-click="">关于我们</div>
		</div>
		<div class="row tlj-about">
			<div class="col about3" ng-click="">联系我们</div>
			<div class="col about4" ng-click="">加入我们</div>
		</div>
		<div class="row tlj-copyright">
			<div class="col">Copyright@2015——山东理工大学桃李街版权所属</div>
		</div>
    </ion-content>
  </body>
</html>