<ion-view title="index">

	<ion-header-bar align-title="center" class="bar-assertive tlj-header">
		<div class="row padding0">
			<div class="col col-50"><img src="./img/logo.png" alt=""></div>
			<div class="col col-25 myspace" ui-sref="my" ng-click="goToMy()"><i class="icon ion-person"></i><br>我的</div>
			<div class="col col-25 myspace"><i class="icon ion-android-checkbox-outline"></i><br>发布信息</div>
		</div>
	</ion-header-bar>

	<ion-content class="padding searchTop">

		<ion-list class="list-insert">
		  	<label class="item item-input">
		    	<i class="icon ion-search placeholder-icon"></i>
		    	<input type="text" placeholder="搜索你最想要的 例：家教">
		  	</label>
		</ion-list>

		<ion-slide-box class="tlj-slide" auto-play="true" does-continue="true">
			<ion-slide>
				<div class="box blue"><img src="./img/1.jpg"></div>
			</ion-slide>
			<ion-slide>
				<div class="box yellow"><img src="./img/2.jpg"></div>
			</ion-slide>
			<ion-slide>
				<div class="box pink"><img src="./img/3.jpg"></div>
			</ion-slide>
		</ion-slide-box>

		<div class="row mainmenu">
			<div class="col">
				<a href="#/list/0">
					<div class="circle circle1">
						<i class="icon iconfont icon-diy-index icon-jianzhi"></i>
					</div>
					<br>校园兼职
				</a>
			</div>
			<div class="col">
				<a href="#/sh">
					<div class="circle circle2">
						<i class="icon iconfont icon-diy-index icon-zixingche"></i>
					</div>
					<br>校园二手
				</a>
			</div>
			<div class="col">
				<a href="#/resume">
					<div class="circle circle3">
						<i class="icon iconfont icon-diy-index icon-508jianlikuguanli"></i>
					</div>
					<br>求职简历
				</a>
			</div>
			<div class="col">
				<div class="circle circle4">
					<i class="icon iconfont icon-diy-index icon-fabu"></i>
				</div>
				<br>发布信息
			</div>
		</div>

		<div class="list tlj-list">
			<a class="item padding0" href="#">
				<div class="row paddingBottom0">
			      	<div class="col col-25">
				      	<div class="circle circle4">
							<i class="icon iconfont icon-diy-index icon-jianzhi"></i>
						</div>
			      	</div>
			      	<div class="col col-50">
			      		<h2 class="title-jianzhi">热门兼职</h2>
			      		<p>桃李街，靠谱，干着舒心的兼职</p>
			      	</div>
			      	<div class="col col-25 arrow-left"><i class="icon ion-ios-arrow-right"></i></div>
		      	</div>
		    </a>
		</div>
		<div class="list tlj-list">
			<a class="item padding0" href="#">
				<div class="row paddingBottom0">
			      	<div class="col col-25">
				      	<div class="circle circle4">
							<i class="icon iconfont icon-diy-index icon-zixingche"></i>
						</div>
			      	</div>
			      	<div class="col col-50">
			      		<h2 class="title-zixingche">最新二手</h2>
			      		<p>快来这里淘宝吧，最方便实惠</p>
			      	</div>
			      	<div class="col col-25 arrow-left arrow-left-zixingche"><i class="icon ion-ios-arrow-right"></i></div>
		      	</div>
		    </a>
		</div>
		<div class="list tlj-list">
			<a class="item padding0" href="#">
				<div class="row paddingBottom0">
			      	<div class="col col-25">
				      	<div class="circle circle4">
							<i class="icon iconfont icon-diy-index icon-target"></i>
						</div>
			      	</div>
			      	<div class="col col-50">
			      		<h2 class="title-target">校园焦点</h2>
			      		<p>校园实时动态，一个也不错过</p>
			      	</div>
			      	<div class="col col-25 arrow-left arrow-left-target"><i class="icon ion-ios-arrow-right"></i></div>
		      	</div>
		    </a>
		</div>
		<div class="row tlj-liaojie">
			<i class="icon ion-ios-people"></i>&nbsp;了解我们
		</div>
		<div class="row tlj-about">
			<div class="col about1" ng-click="">使用指南</div>
			<div class="col about2" ng-click="">关于我们</div>
		</div>
		<div class="row tlj-about">
			<div class="col about3" ng-click="LoginModal.show()">联系我们</div>
			<div class="col about4" ng-click="RegisterModal.show()">加入我们</div>
		</div>
		<div class="row tlj-copyright">
			<div class="col">Copyright@2015——山东理工大学桃李街版权所属</div>
		</div>
	</ion-content>

	<!--登录modal-->
	<script id="modal-login.html" type="text/ng-template">
		<ion-modal-view>
		    <ion-header-bar class="bar-assertive">
		    	<button class="button button-clear button-primary" ng-click="LoginModal.hide()"><i class="ion-arrow-left-c"></i> 后退</button>
		        <h1 class="title">登录</h1>
		    </ion-header-bar>
		    <ion-content ng-controller="LoginController" class="has-header padding">
				<ion-list>
			        <div>{{message}}</div>
				    <label class="item item-input">
					    <span class="input-label">邮箱</span>
					    <input type="text" ng-model="user.username" placeholder="请输入邮箱">
				    </label>
				    <label class="item item-input">
					    <span class="input-label">密码</span>
					    <input type="password" ng-model="user.password" placeholder="请输入密码">
				    </label>
					<div class="item">
						<button class="button button-block button-positive" ng-click="login()">
							登录
						</button>	
					</div>
				</ion-list>
		    </ion-content>
		</ion-modal-view>
	</script>

	<!--注册modal-->
	<script id="modal-register.html" type="text/ng-template">
		<ion-modal-view>
		    <ion-header-bar class="bar-assertive">
		    	<button class="button button-clear button-primary" ng-click="RegisterModal.hide()"><i class="ion-arrow-left-c"></i> 后退</button>
		        <h1 class="title">注册</h1>
		    </ion-header-bar>
		    <ion-content>
				<ion-list>
				    <label class="item item-input">
					    <span class="input-label">邮箱</span>
					    <input type="text">
				    </label>
				    <label class="item item-input">
					    <span class="input-label">密码</span>
					    <input type="password">
				    </label>
					<div class="item">
						<button class="button button-block button-positive">
							注册
						</button>	
					</div>
				</ion-list>
		    </ion-content>
		</ion-modal-view>
	</script>
</ion-view>