<ion-view title="兼职列表">
	<ion-nav-bar align-title="center">
		<ion-nav-back-button>返回</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
		<div class="overlay" ng-show="overlay" ng-click="showList = false;overlay = false;"></div>
		<div class="button-bar bar-assertive shListModal" ng-controller="getRegionAndPayCotroller">
		  	<div class="button dropdown" ng-click='showModal("class")'>分类 <i class="icon" ng-class="!showCateMore.class ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i></div>
		  	<div class="button" ng-click='showModal("location")'>区域 <i class="icon" ng-class="!showCateMore.location ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i></div>
		  	<div class="button" ng-click='showModal("paytype")'>结算 <i class="icon" ng-class="!showCateMore.paytype ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i></div>
		  	<!--分类选项-->
		  	<div class="selectNewModal modal" ng-if="selecting.class" ng-controller="getJobCateListCotroller">
		  		<div class="list">
		  			<a class="item" ng-click='loadAll("class")'>所有</a>
		  			<a class="item" ng-repeat="item in items" ng-bind="item.name" ng-click="goClass(item.id)"></a>
		  		</div>
		  	</div>
			<!--区域选择-->
		  	<div class="selectNewModal modal" ng-if="selecting.location" ng-controller="getJobCateListCotroller">
		  		<div class="list">
		  			<a class="item" ng-click='loadAll("location")'>所有</a>
		  			<a class="item" ng-repeat="location in locations" ng-bind="location" ng-click="goLocation(location)"></a>
		  		</div>
		  	</div>
		  	<!--结算方式-->
		  	<div class="selectNewModal modal" ng-if="selecting.paytype" ng-controller="getJobCateListCotroller">
		  		<div class="list">
		  			<a class="item" ng-click='loadAll("paytype")'>所有</a>
		  			<a class="item" ng-repeat="paytype in paytypes" ng-bind="paytype" ng-click="goPaytype(paytype)"></a>
		  		</div>
		  	</div>
		</div>
		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()" refreshing-text="刷新成功"></ion-refresher>
		<ion-list class="tlj-buttons">
			<ion-item ng-repeat="item in items">
				<a class="item no-boder padding0" ng-href="#/detail/{{item.id}}">
					<div class="row padding0">
						<div class="col col-20 padding0">
							<div class="list-type list-type-pic" style="color:{{item.category.themeColor}};border-color:{{item.category.themeColor}}">
								<span>{{item.category.name}}</span>
							</div>
						</div>
						<div class="col col-80 padding0">
							<div class="row tlj-title">
								<h2 class="col col-67">{{item.title}}</h2>
								<p class="col col-33">&yen; {{item.wage}}元/{{item.salaryUnit}}</p>	
							</div>
							<div class="row font12 padding0">
								<div class="col col-30 tlj-left">
									<i class="icon ion-ios-location-outline"></i> {{item.region}}
								</div>
								<div class="col col-50 tlj-left">
									<i class="icon ion-android-time"></i> {{item.postTime | date:'yyyy-MM-dd'}}
								</div>
								<div class="col col-20 tlj-right">{{item.timeToPay}}</div>
							</div>
						</div>
					</div>
				</a>
			</ion-item>
			<button class="button button-block" ng-if="!emptyContent" ng-click="loadMore()">加载更多<ion-spinner  ng-if="loading" icon="lines"></ion-spinner></button>
			<p class="emptyContent" ng-if="emptyContent">Sorry,该项目下没有更多内容</p>
		</ion-list>
	</ion-content>
</ion-view>