<ion-view title="个人中心">
	<ion-nav-bar class="padding0" align-title="center">
		<ion-nav-back-button>返回</ion-nav-back-button>
		<button class="right">sd</button>
	</ion-nav-bar>
	<ion-content ng-controller="MyController">

		<div class="list">

			<a class="item item-thumbnail-left">
				<img src="cover.jpg">
				<h2>Pretty Hate Machine</h2>
				<p>Nine Inch Nails</p>
		    </a>

			<div class="item item-divider"></div>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-clipboard"></i>
				我的简历
			</a>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-cube"></i>
				我的收藏
			</a>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-pricetag"></i>
				我的发布
			</a>

			<div class="item item-divider"></div>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-ios-bell"></i>
				消息通知
				<span class="badge badge-assertive">0</span>
			</a>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-radio-waves"></i>
				修改密码
			</a>

			<div class="item item-divider"></div>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-ios-paper"></i>
				意见反馈
			</a>
			<div class="item">
				<button class="button button-block button-positive">
					退出登录
				</button>	
			</div>
		</div>

	<ion-content>
</ion-view>