<ion-view title="个人中心">
	<ion-nav-bar class="padding0" align-title="center">
		<ion-nav-back-button>返回</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content ng-controller="MyController">
		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()" refreshing-text="刷新成功"></ion-refresher>
		<div class="list tlj-list">
			<a class="item padding0" href="#/my/{{user.id}}">
				<div class="row">
			      	<div class="col col-33">
				      	<div class="circle circleimg">
							<img src="http://120.24.218.56/static/images/users/{{user.profilePhotoId}}">
						</div>
			      	</div>
			      	<div class="col col-40">
			      		<h2 class="title-jianzhi" ng-bind="user.username"></h2>
			      		<p ng-bind="user.schoolOrganization"></p>
			      	</div>
			      	<div class="col col-25 arrow-left"><i class="icon ion-ios-arrow-right"></i></div>
		      	</div>
		    </a>

			<div class="item item-divider"></div>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-clipboard"></i>
				我的简历
			</a>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-cube"></i>
				我的收藏
			</a>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-pricetag"></i>
				我的发布
			</a>

			<div class="item item-divider"></div>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-ios-bell"></i>
				消息通知
				<span class="badge badge-assertive">0</span>
			</a>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-radio-waves"></i>
				修改密码
			</a>

			<div class="item item-divider"></div>

			<a class="item item-icon-left" href="#" ng-click="FeedbackModal.show()">
				<i class="icon ion-ios-paper"></i>
				意见反馈
			</a>
			<div class="item" ng-controller="LogoutController">
				<button class="button button-block button-positive" ng-click="logout()">
					退出登录
				</button>	
			</div>

			<script id="feedback.html" type="text/ng-template">
				<ion-modal-view>
				    <ion-header-bar class="bar-assertive">
				    	<button class="button button-clear icon ion-ios-arrow-back" ng-click="FeedbackModal.hide()"> 后退</button>
				        <h1 class="title">意见反馈</h1>
				    </ion-header-bar>
				    <ion-content class="has-header padding" ng-controller="feedbackController">
						<div class="list padding-top">
							<label class="item item-input">
								<textarea rows=7 placeholder="反馈信息" ng-model="feed.content"></textarea>
							</label>
							<label class="item item-input">
								<i class="icon ion-ios-email-outline positive"> </i>
								<input type="email" placeholder=" 常用邮箱" ng-model="feed.email">
							</label>
						</div>
						<div>
							<button class="button button-block button-assertive" ng-click="addFeedback()">提交反馈
							</button>
						</div>
				    </ion-content>
				</ion-modal-view>
			</script>
		</div>

	<ion-content>
</ion-view>