<ion-view title="个人中心">
	<ion-content ng-controller="MyController" class="user_space">
		<div class="myInfo_login">
			<div class="login_header">
				<span ng-click="myGoBack()"><i class="icon iconfont">&#xe60d;</i>&nbsp;返回</span>
				我的
			</div>
			<div class="my_buttons" ng-if="noLogin">
				<div class="row">
					<a ng-href="#/login">登录</a>
					<a ng-href="#/register">注册</a>
				</div>
			</div>
			<div class="my_photo" ng-if="!noLogin">
				<a ng-href="/#/my/{{user.id}}">
					<div class="login_logo">
						<img src="http://120.24.218.56/static/images/users/{{user.profilePhotoId}}" alt="">
						<p ng-bind="user.username"></p>
					</div>
				</a>
			</div>
		</div>
		<div class="list" ng-controller="ChildPageController">
			<a class="item item-icon-left com_item_border" ng-click="myGoTo('myResume')" ng-style='{"background-color":bgColor}'>
				<i class="icon iconfont" style="color:#3FC3CF">&#xe614;</i>
				我的简历
			</a>

			<a class="item item-icon-left com_item_border" ng-click='myGoTo("myCollection")' ng-style='{"background-color":bgColor}'>
				<i class="icon iconfont" style="color:#FF697E">&#xe610;</i>
				我的收藏
			</a>

			<a class="item item-icon-left com_item_border" ng-click='myGoTo("myPublish")' ng-style='{"background-color":bgColor}'>
				<i class="icon iconfont" style="color:#4CCDA4">&#xe615;</i>
				我的发布
			</a>

			<a class="item item-icon-left com_item_border" ng-click='myGoTo("myMessage")' ng-style='{"background-color":bgColor}'>
				<i class="icon iconfont" style="color:#FA693A">&#xe613;</i>
				消息通知
				<span class="badge badge-assertive">0</span>
			</a>

			<a class="item item-icon-left com_item_border" ng-click='myGoTo("myPwd")' ng-style='{"background-color":bgColor}'>
				<i class="icon iconfont" style="color:#84CD5B">&#xe60e;</i>
				修改密码
			</a>

			<a class="item item-icon-left com_item_border" ng-click="FeedbackModal.show()">
				<i class="icon iconfont" style="color:#E8B309">&#xe612;</i>
				意见反馈
			</a>
			<div class="item" ng-controller="LogoutController" ng-if="!noLogin">
				<button class="button button-block button-positive" ng-click="logout()">
					退出登录
				</button>	
			</div>

			<script id="feedback.html" type="text/ng-template">
				<ion-modal-view>
				    <ion-header-bar class="bar-assertive">
				    	<button class="button button-clear icon ion-ios-arrow-back" ng-click="FeedbackModal.hide()"> 后退</button>
				        <h1 class="title">意见反馈</h1>
				    </ion-header-bar>
				    <ion-content class="has-header padding" ng-controller="feedbackController">
						<div class="list padding-top">
							<label class="item item-input">
								<textarea rows=7 placeholder="反馈信息" ng-model="feed.content"></textarea>
							</label>
							<label class="item item-input">
								<i class="icon ion-ios-email-outline positive"> </i>
								<input type="email" placeholder=" 常用邮箱" ng-model="feed.email">
							</label>
						</div>
						<div>
							<button class="button button-block button-assertive" ng-click="addFeedback()">提交反馈
							</button>
						</div>
				    </ion-content>
				</ion-modal-view>
			</script>
		</div>

	<ion-content>
</ion-view>