<ion-view title="我的消息">
	<ion-header-bar align-title="left">
	  <div class="buttons">
	    <button class="button button-clear" ng-click="doBack()"><i class="icon ion-ios-arrow-back"></i> 返回</button>
	  </div>
	  <h1 class="title">我的消息</h1>
	  <div class="buttons">
	    <button class="button button-clear" ng-click="doAllOperation()"><i class="icon ion-ios-color-wand-outline"></i> 编辑</button>
	  </div>
	</ion-header-bar>
	<ion-content class="has-header">
		暂时还没有这个接口。该信息ID：{{id}}
	</ion-content>
</ion-view>