<ion-view title="我的消息">
	<ion-header-bar align-title="left">
	  <div class="buttons">
	    <button class="button button-clear" ng-click="doBack()"><i class="icon ion-ios-arrow-back"></i> 返回</button>
	  </div>
	  <h1 class="title">我的消息</h1>
	  <div class="buttons">
	    <button class="button button-clear" ng-click="doAllOperation()"><i class="icon ion-ios-color-wand-outline"></i> 编辑</button>
	  </div>
	</ion-header-bar>
	<ion-content class="has-header">
		<ion-refresher pulling-text="下拉刷新" pulling-icon="ion-loading-c" refreshing-text="刷新成功" refreshing-icon="ion-loading-c" on-refresh="doRefresh()"></ion-refresher>
		<ion-list can-swipe="listCanSwipe" show-delete="shouldShowDelete" ng-controller="markOrDelete">
			<ion-item ng-repeat="unread in unreads">
				<a ng-href="#/user/mymessage/{{unread.id}}"><i class="icon ion-android-notifications"></i> {{unread.content}}</a>
				<ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
				</ion-delete-button>
				<ion-option-button class="button-dark" ng-click="mark(unread.id)">
			        标记
			    </ion-option-button>
			    <ion-option-button class="button-assertive" ng-click="delete(unread.id)">
			        删除
			    </ion-option-button>
			</ion-item>
			<button class="button button-block" ng-if="!jobEmptyContent" ng-click="loadMore('sys')">加载更多</button>
			<p class="emptyContent" ng-if="jobEmptyContent">Sorry,该项目下没有更多内容</p>
		<ion-list>
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-assertive">
		<div class="tabs tabs-icon-top">
			<a class="tab-item"><i class="icon ion-android-notifications"></i> 系统通知</a>
			<a class="tab-item"><i class="icon ion-android-notifications-none"></i> 个人信息</a>
		</div>
	</ion-footer-bar>
</ion-view>