<ion-view title="简历详情" ng-controller="ResumeDetailController">
    <ion-header-bar align-title="center">
        <button class="button button-clear icon-left ion-ios-arrow-left" ng-click="myGoBack()">返回</button>
        <h1 class="title">简历详情</h1>
        <button class="button button-clear icon-left ion-heart">收藏</button>
    </ion-header-bar>
    <ion-content>
    	<div class="redline"></div>
		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()" refreshing-text="刷新成功"></ion-refresher>
		<div class="list card">
			<div class="row">
				<div class="col col-33 margin0">
					<div class="list-type list-type-pic list-type-pic-big">
						<img src="http://120.24.218.56/static/images/users/{{items.photoPath}}">
					</div>
				</div>
				<div class="col col-67">
					<div class="row padding">姓名：{{items.name}}（{{items.gender}}）</div>
					<div class="row padding">年龄：{{items.age}}岁</div>
					<div class="row padding">身高：{{items.height}}cm</div>
					<div class="row padding">学校：{{items.school}}</div>
					<div class="row padding">专业：{{items.major}}</div>
				</div>
			</div>

			<div class="row">
				<div class="col col-33 resume-rec"><span></span>求职意向</div>
				<div class="col col-67">礼仪、家教、促销</div>
			</div>

			<div class="row">
				<div class="col col-33 resume-rec"><span></span>意向地区</div>
				<div class="col col-67">{{items.preferredRegion}}</div>
			</div>

			<div class="row">
				<div class="col col-33 resume-rec"><span></span>自我介绍</div>
				<div class="col col-67">{{items.introduce}}</div>
			</div>

			<div class="row">
				<div class="col col-33 resume-rec"><span></span>工作经验</div>
				<div class="col col-67">{{items.experience}}</div>
			</div>

			<div class="row">
				<div class="col col-33">联系方式</div>
				<div class="col col-67">
					<i class="icon iconfont icon-dianhua"></i> {{items.phoneNumber}}<br>
					<i class="icon iconfont icon-wechat"></i> {{items.wechatAccount}}<br>
					<i class="icon iconfont icon-qq"></i> {{items.qq}}<br>
					<i class="icon iconfont icon-xinfeng"></i> {{items.email}}
				</div>
			</div>

			<div class="item">
				<div class="list">
					<a class="item item-avatar" href="#"  ng-repeat="comment in comments">
				      	<img src="http://120.24.218.56/static/images/users/{{comment.member.profilePhotoId}}">
				      	<h2>{{comment.member.username}}</h2>
				      	<p>{{comment.content}}</p>
				    </a>
				</div>
			</div>

		</div>
    </ion-content>
</ion-view>