<ion-view title="详情" ng-controller="ShDetailController">
    <ion-header-bar align-title="center">
        <button class="button button-clear icon-left ion-ios-arrow-left" ng-click="myGoBack()">返回</button>
        <h1 class="title">物品详情</h1>
        <button class="button button-clear"><i class="icon iconfont">&#xe610;</i> 收藏</button>
    </ion-header-bar>
    <ion-content>
		<ion-slide-box class="sh_detail_pics" auto-play="true" does-continue="true">
			<ion-slide ng-repeat="pic in pics" style='background:url("http://120.24.218.56/static/images/users/{{pic}}")'>
				
			</ion-slide>
		</ion-slide-box>
		<div class="list padding0">
			<div class="row sh_detail_title">{{details.title}}</div>
			<div class="row sh_detail">
				<div class="col col-67">
					<span class="sh_list_cate">{{details.category.name}}</span>&nbsp;
					<span class="sh_list_cate">{{details.depreciationRate}}</span><br>
					<span class="time"><i class="icon iconfont">&#xe616;</i>{{details.postTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
				</div>
				<div class="col col-33 mainmenu">
					<div class="circle">&yen;{{details.sellPrice}}</div>
				</div>
			</div>
			<div class="row sh_detail_line">
				<i class="icon iconfont">&#xe617;</i>交易地点：{{details.tradePlace}}
			</div>
			<div class="item tabs tabs-secondary tabs-icon-left">
			    <a class="tab-item" href="#" ng-style='{"color":zanColor}' ng-click="zan()">
				    <i class="icon ion-thumbsup"></i> {{details.likes}}
			    </a>
			    <a class="tab-item" href="#">
				    <i class="icon ion-thumbsdown"></i> {{details.dislikes}}
			    </a>
			    <a class="tab-item" href="#">
				    <i class="icon ion-chatbox"></i> {{comments.length}}
			    </a>
			    <a class="tab-item" href="#">
			      	<i class="icon ion-share"></i>
			    </a>
			</div>
			<div class="item">
				<div class="list">
					<a class="item item-avatar" href="#"  ng-repeat="comment in comments">
				      	<img src="http://120.24.218.56/static/images/users/{{comment.member.profilePhotoId}}">
				      	<h2>{{comment.member.username}}</h2>
				      	<p>{{comment.content}}</p>
				    </a>
				</div>
			</div>
		</div>
    </ion-content>
</ion-view>