<ion-view title="校园二手">
	<ion-nav-bar align-title="center">
		<ion-nav-back-button>返回</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content style="background:#F4F4F4">
		<div class="overlay" ng-show="overlay" ng-click="showList = false;overlay = false;"></div>
		<div class="button-bar bar-balanced shListModal" ng-controller="buttonBarController">
		  	<div class="button dropdown" ng-click='showModal("class")'>新旧 <i class="icon" ng-class="!showCateMore.class ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i></div>
		  	<div class="button" ng-click='showModal("NewAndOld")'>新旧 <i class="icon" ng-class="!showCateMore.NewAndOld ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i></div>
		  	<div class="button" ng-click='showModal("price")'>价格 <i class="icon" ng-class="!showCateMore.price ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i></div>
		  	<!--分类选项-->
		  	<div class="selectNewModal modal" ng-if="selecting.class" ng-controller="getShCateListCotroller">
		  		<div class="list">
		  			<a class="item" ng-repeat="item in items" ng-bind="item.name" ng-click="goClass(item.id)"></a>
		  		</div>
		  	</div>
			<!--新旧程度选项-->
		  	<div class="selectNewModal modal" ng-if="selecting.NewAndOld">
		  		<div class="list">
		  			<a class="item" ng-repeat="ShCommon in ShCommons" ng-bind="ShCommon" ng-click="goOldAndNew(ShCommon)"></a>
		  		</div>
		  	</div>
		  	<!--价格选项-->
		  	<div class="selectNewModal modal" ng-if="selecting.price" ng-controller="getShCateListCotroller">
		  		<div class="list">
		  			<a class="item" ng-repeat="price in prices" ng-bind="price" ng-click="goPrice(price)"></a>
		  		</div>
		  	</div>
		</div>
		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()" refreshing-text="刷新成功">
		</ion-refresher>
		<ion-list>
			<a class="item sh_item" ng-repeat="item in items" ng-click="test(item.id)">
				<div class="row padding0">
					<div class="col col-33 col_pic margin0 padding0">
						<div class="list-type-sh">
							<img src="http://120.24.218.56/static/images/users/{{item.picturePath}}">
						</div>
					</div>
					<div class="col col-67 padding0">
						<div class="row padding">{{item.title}}</div>
						<div class="row padding resume-list-small">
							<div class="col col-33 padding_com">
								<span class="sh_list_cate">{{item.category.name}}</span>
							</div>
							<div class="col col-33 padding_com">
								<span class="sh_list_cate">{{item.depreciationRate}}</span>
							</div>
							<div class="col col-33 padding_com">
								<span class="sh_list_price">&yen; {{item.sellPrice}}</span>
							</div>
						</div>
						<div class="row resume-list-small sh_list_last">
							<i class="icon ion-ios-location-outline"></i>&nbsp; {{item.tradePlace}} &nbsp;
							<i class="icon ion-android-time"></i>&nbsp; {{item.postTime | timeFileter}}
						</div>
					</div>
				</div>
			</a>
			<button class="button button-block" ng-if="!emptyContent" ng-click="loadMore()">加载更多</button>
			<p class="emptyContent" ng-if="emptyContent">Sorry,该项目下没有更多内容</p>
		</ion-list>
	</ion-content>
</ion-view>