<ion-view title="校园二手">
	<ion-nav-bar align-title="center">
		<ion-nav-back-button>返回</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content class="has-header">
		<div class="button-bar bar-balanced shListModal" ng-controller="buttonBarController">
			<!--二手物品分类搜索-->
		  	<select class="button" ng-controller="getShCateListCotroller" ng-model="select.classId" ng-change="classIdChange(select.classId)">
		  		<option value="">分类</option>
		  		<option ng-repeat="item in items" ng-value="item.id" ng-bind="item.name"></option>
		  	</select>
		  	<!--二手物品新旧程度搜索-->
		  	<!--<select class="button" ng-controller="getShCateListCotroller" ng-model="select.classId" ng-change="classIdChange(select.classId)">
		  		<option value="">新旧</option>
		  		<option ng-repeat="item in items" ng-value="item.id" ng-bind="item.name"></option>
		  	</select>-->
		  	<div class="button" ng-click="showModal()">新旧</div>
		  	<!--二手物品价格区间搜素-->
		  	<select class="button" ng-controller="getShCateListCotroller" ng-model="select.price" ng-change="priceChange(select.price)">
		  		<option value="">价格</option>
		  		<option ng-repeat="price in prices" ng-value="price" ng-bind="price"></option>
		  	</select>
		  	<div class="selectNewModal modal" ng-if="selecting">
		  		<div class="list">
		  			<a class="item" ng-repeat="ShCommon in ShCommons" ng-bind="ShCommon" ng-click="goOldAndNew(ShCommon)"></a>
		  		</div>
		  	</div>
		</div>
		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()" refreshing-text="刷新成功">
		</ion-refresher>
		<ion-list>
			<a class="item padding0" href="#/shdetail/{{item.id}}" ng-repeat="item in items">
				<div class="row">
					<div class="col col-33 margin0">
						<div class="list-type-sh">
							<img src="http://120.24.218.56/static/images/users/{{item.picturePath}}">
						</div>
					</div>
					<div class="col col-67">
						<div class="row padding">{{item.title}}</div>
						<div class="row padding"><span class="red">&yen;{{item.sellPrice}} 可小刀</div>
						<div class="row padding resume-list-small">
							<i class="icon ion-ios-location-outline"></i>&nbsp;{{item.tradePlace}}
						</div>
						<div class="row padding resume-list-small">
							<i class="icon ion-android-time"></i>&nbsp;{{item.postTime | date:'yyyy-MM-dd mm:ss'}}
						</div>
					</div>
				</div>
			</a>
		</ion-list>
	</ion-content>
	<ion-infinite-scroll on-infinite="loadMore()" distance="30%"></ion-infinite-scroll>
</ion-view>